body {
    padding-top: 15px;
    padding-bottom: 15px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.site-logo {
}

.site-logo__image {
    height: 60px;
}

.site-logo__text {
    display: inline-block;
    text-align: left;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10px;
    color: #26528D;
}

.body-content {
    margin-top: 10px;
}

.navbar-default {
    background-color: transparent;
    border: none;
    border-radius: initial;
    /*border-bottom: 1px solid #26528D;*/
}

    .navbar-default .navbar-nav > li > a {
        color: #26528D;
        font-weight: 700;
    }

    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
        color: #26528D;
        background-color: transparent;
        border-bottom: 1px solid #26528D;
    }

.jumbotron {
    background-color: transparent;
}

.btn-default {
    /*background-color: #26528D;*/
}

.btn-primary {
    background-color: #fff;
    color: #26528D;
}

    .btn-primary:hover {
        background-color: #26528D;
        color: #fff;
    }

.book {
    position: relative;
    margin-bottom: 30px;
    /*border-bottom: 2px solid #26528D;*/
}

.book__divider {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 300px;
    height: 2px;
    background-color: #26528D;
}

.book__section-title {

}

.book__description {
    margin-bottom: 10px;
}

.book__title {
    font-weight: 700;
    font-size: 22px;
    color: #26528D;
}

.book__thumbnail__image {
    width: 100%;
}
