@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Student Book Exchange</h1>
    <p class="lead">Student Book Exchange is a website for students who want to buy and sell textbooks directly from/to other students. The service is provided free of charge.</p>
    <p><a href="/books" class="btn btn-primary btn-lg">View books &raquo;</a></p>
    <p><a href="/books/submit" class="btn btn-primary btn-lg">Submit book &raquo;</a></p>
</div>